<h1> HI</h1>
<p>Ask your coach anything</p>
<form action="/answer" data-turbo="false">
  <input type="text" name="question" value="<%= params[:question] %>" placeholder="How can I help you?">
  <input type="submit" value="Ask!">
</form>
